body{
    font-family: 'open sans', Arial, Helvetica, sans-serif;
}

/* Events section */
.events-title{
    text-align: center;
    background: #5fcf80;
    padding: 30px 0;
    color: #fff;
}
.events-title .events-heading h2{
    font-size: 32px;
    font-weight: 500;
}
.events-title .events-heading p{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}
.events{
    padding: 60px 0;
}
.events .events-card{
    padding: 0 30px;
    margin-bottom: 60px;
}
.events .card-img{
    width: calc(100% + 60px);
    margin-left: -30px;
}
.events .card-img img{
    max-width: 100%;
} 
.events .card-content{
    position: relative;
    background: #fff;
    border-top: 4px solid #fff;
    padding: 30px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    margin-top: -60px;
}
.events h5{
    color: #37423b;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.events p{
    text-align: center;
    color: #5e5e5e;
}
.events .para{
    text-align: left;
}




/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up - sm) */
@media (min-width: 576px) {
   
}

 /* Medium devices (tablets, 768px and up - md) */
@media (min-width: 768px) {
   
}

/* Large devices (desktops, 992px and up - lg) */
@media (min-width: 992px) { 
   
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
   
}