
#features .container-fluid .row h3 {
    font-size: 17px;
    color: #454545;
}

#features .container-fluid .row i{
    font-size: 32px;
    padding-right: 10px;
}

#features .container-fluid .row .icon-box{
    padding: 20px;
    border: 1px solid #ebebeb;
    margin-bottom: 25px;
}

@media screen and (min-width: 1496px){
#features .container-fluid .row  {
    margin-right: 50px;
    margin-left: 50px;
    }
}

